---
import Layout from "../layouts/Layout.astro";
import boeing from "../../src/assets/boeing787.jpg";
import tom from "../../src/assets/tom.webp";
import Image from "astro/components/Image.astro";
---

<Layout title="About">
  <main class="w-full px-8 md:pt-20 md:pl-8 flex-grow flex flex-col gap-4">
    <p class="flex gap-4 md:pt-8 w-20">
      <Image
        class="object-cover w-full rounded-full"
        src={boeing}
        alt="Boeing"
      />
      <Image
        class="object-cover w-full rounded-full"
        src={tom}
        alt="Tom brady"
      />
    </p>
    <h1 class="text-3xl pt-4">About me</h1>
    <p class="text-justify text-sm max-w-2xl tracking-wide leading-6">
      During my free time, I love indulging in two of my favorite hobbies:
      aviation and American football. You'll often find me gaming on Flight
      Simulator, where I unleash my inner pilot and take to the virtual skies
      for thrilling adventures and breathtaking views. When I'm not soaring
      through the clouds, I'm passionately following the heart-pounding action
      of the NFL. From strategic plays to awe-inspiring athleticism, it's a
      sport that keeps me on the edge of my seat (especially in the 4th Quarter
      when Tom Brady 🐐 is playing). These recreational pursuits not only bring me
      joy and relaxation but also fuel my creativity and drive in the dynamic
      world of software engineering.
    </p>
  </main>
</Layout>
